<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../common/js/jquery-2.2.3.min.js"></script>
    <script src="../crmjs/ajax.js"></script>
    <script>
         window.onload = function (ev) {
             $ajax({
                 url:"productServlet",
                 type:"get",
                 data:{

                },
                 success:function(data){
                     alert(data);
                 },
                 error:function(error){
                     alert(error);
                 }
             });
         }
    </script>
</head>
<body>

<form action="productServlet" method="post">
    <input type="text" name="name"/>
    <input type="submit" value="提交">
</form>

</body>
</html>